# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

apps/inngest-app/*.log
apps/inngest-app/combined.log

packages/db/src/generated

# Testing
coverage

.kiro
.vscode

# Turbo
.turbo
**/.turbo
**/tsbuildinfo.json

# Vercel
.vercel

# Build Outputs
.next/
out/
build

.idea

*/.idea
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

.idea/vcs.xml

# Prisma generated client
packages/db/src/generated
/apps/frontend/src/config/env.ts
/apps/inngest-app/src/config/env.ts
