# pnpm configuration
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=*@types/react*
public-hoist-pattern[]=*@types/react-dom*

# Turbo configuration
enable-pre-post-scripts=true
